/* StyleSheet */

html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0 !important;
	margin: 0 !important;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #38d39f;
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2, .text-white h3,
.text-white h4, .text-white h5, .text-white h6,
.text-white p, .text-white span, .text-white li, .text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #38d39f;
	letter-spacing: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #38d39f;
	border: none;
}

/*---------------------
  Header
-----------------------*/

.header__top {
	background: #f5f5f5;
}

.header__top__left {
	padding: 10px 0 13px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header__top__left ul li {
	font-size: 15px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #252525;
	margin-right: 5px;
}

.header__top__right {
	text-align: right;
	padding: 10px 0 13px;
}

.header__top__right__auth {
	display: inline-block;
}

.header__top__right__auth a {
	display: block;
	font-size: 18px;
	color: #1c1c1c;
}

.header__top__right__auth a i {
	margin-right: 6px;
}

.header__logo {
	padding: 15px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 24px 0;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: #38d39f;
}

.header__menu ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu ul li.active a {
	color: #38d39f;
}

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #38d39f;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.header__cart {
	text-align: right;
	padding: 24px 0;
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #1c1c1c;
}

.header__cart ul li a span {
	height: 13px;
	width: 13px;
	background: #38d39f;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}

.header__cart .header__cart__price {
	font-size: 14px;
	color: #6f6f6f;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero {
	padding-bottom: 50px;
}

.hero.hero-normal {
	padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
	position: relative;
}

.hero.hero-normal .hero__categories ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.hero.hero-normal .hero__search {
	margin-bottom: 0;
}

.hero__categories__all {
	background: #38d39f;
	position: relative;
	padding: 10px 25px 10px 40px;
	cursor: pointer;
}

.hero__categories__all i {
	font-size: 16px;
	color: #ffffff;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.hero__categories__all:after {
	position: absolute;
	right: 18px;
	top: 9px;
	content: "3";
	font-family: "ElegantIcons";
	font-size: 18px;
	color: #ffffff;
}

.hero__categories ul {
	border: 1px solid #ebebeb;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.hero__categories ul li {
	list-style: none;
}

.hero__categories ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
}

.hero__search {
	overflow: hidden;
	margin-bottom: 30px;
}

.hero__search__form {
	width: 610px;
	height: 50px;
	border: 1px solid #ebebeb;
	position: relative;
	float: left;
}

.hero__search__form .hero__search__categories {
	width: 30%;
	float: left;
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 700;
	padding-left: 18px;
	padding-top: 11px;
	position: relative;
}

.hero__search__form .hero__search__categories:after {
	position: absolute;
	right: 0;
	top: 14px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.hero__search__form .hero__search__categories span {
	position: absolute;
	right: 14px;
	top: 14px;
}

.hero__search__form input {
	width: 70%;
	border: none;
	height: 48px;
	font-size: 16px;
	color: #b2b2b2;
	padding-left: 20px;
}

.hero__search__form input::placeholder {
	color: #b2b2b2;
}

.hero__search__form button {
	position: absolute;
	right: 0;
	top: -1px;
	height: 50px;
}

.hero__search__phone {
	float: right;
}

.hero__search__phone__icon {
	font-size: 18px;
	color: #38d39f;
	height: 50px;
	width: 50px;
	background: #f5f5f5;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}

.hero__search__phone__text {
	overflow: hidden;
}

.hero__search__phone__text h5 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 5px;
}

.hero__search__phone__text span {
	font-size: 14px;
	color: #6f6f6f;
}

.hero__item {
	height: 431px;
	display: flex;
	align-items: center;
	padding-left: 75px;
}

.hero__text span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #38d39f;
}

.hero__text h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.hero__text p {
	margin-bottom: 35px;
}

/*---------------------
  Categories
-----------------------*/

.categories__item {
	height: 270px;
	position: relative;
}

.categories__item h5 {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 20px;
	bottom: 20px;
	text-align: center;
}

.categories__item h5 a {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 12px 0 10px;
	background: #ffffff;
	display: block;
}

.categories__slider .col-lg-3 {
	max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
	font-size: 18px;
	color: #1c1c1c;
	height: 70px;
	width: 30px;
	line-height: 70px;
	text-align: center;
	border: 1px solid #ebebeb;
	position: absolute;
	left: -35px;
	top: 50%;
	-webkit-transform: translateY(-35px);
	background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -35px;
}

/*---------------------
  Featured
-----------------------*/

.featured {
	padding-top: 80px;
	padding-bottom: 40px;
}

.featured__controls {
	text-align: center;
	margin-bottom: 50px;
}

.featured__controls ul li {
	list-style: none;
	font-size: 18px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
}

.featured__controls ul li.active:after {
	opacity: 1;
}

.featured__controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #38d39f;
	content: "";
	opacity: 0;
}

.featured__controls ul li:last-child {
	margin-right: 0;
}

.featured__item {
	margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
	bottom: 20px;
}

.featured__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
	background-position: center center;
}

.featured__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
	margin-right: 0;
}

.featured__item__pic__hover li:hover a {
	background: #38d39f;
	border-color: #38d39f;
}

.featured__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.featured__item__text {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text h6 {
	margin-bottom: 10px;
}

.featured__item__text h6 a {
	color: #252525;
}

.featured__item__text h5 {
	color: #252525;
	font-weight: 700;
}

/*---------------------
  Latest Product
-----------------------*/

.latest-product {
	padding-top: 80px;
	padding-bottom: 0;
}

.latest-product__text h4 {
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 45px;
}

.latest-product__slider.owl-carousel .owl-nav {
	position: absolute;
	right: 20px;
	top: -75px;
}

.latest-product__slider.owl-carousel .owl-nav button {
	height: 30px;
	width: 30px;
	background: #F3F6FA;
	border: 1px solid #e6e6e6;
	font-size: 14px;
	color: #636363;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
}

.latest-product__slider.owl-carousel .owl-nav button span {
	font-weight: 700;
}

.latest-product__slider.owl-carousel .owl-nav button:last-child {
	margin-right: 0;
}

.latest-product__item {
	margin-bottom: 20px;
	overflow: hidden;
	display: block;
}

.latest-product__item__pic {
	float: left;
	margin-right: 26px;
}

.latest-product__item__pic img {
	height: 110px;
	width: 110px;
}

.latest-product__item__text {
	overflow: hidden;
	padding-top: 10px;
}

.latest-product__item__text h6 {
	color: #252525;
	margin-bottom: 8px;
}

.latest-product__item__text span {
	font-size: 18px;
	display: block;
	color: #252525;
	font-weight: 700;
}

/*---------------------
Sidebar
-----------------------*/

.sidebar__item {
	margin-bottom: 35px;
}

.sidebar__item.sidebar__item__color--option {
	overflow: hidden;
}

.sidebar__item h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 25px;
}

.sidebar__item ul li {
	list-style: none;
}

	.sidebar__item ul li a {
		font-size: 16px;
		color: #1c1c1c;
		line-height: 39px;
		display: block;
	}

.sidebar__item .latest-product__text {
	position: relative;
}

	.sidebar__item .latest-product__text h4 {
		margin-bottom: 45px;
	}

	.sidebar__item .latest-product__text .owl-carousel .owl-nav {
		right: 0;
	}

.price-range-wrap .range-slider {
	margin-top: 20px;
}

	.price-range-wrap .range-slider .price-input {
		position: relative;
	}

		.price-range-wrap .range-slider .price-input:after {
			position: absolute;
			left: 38px;
			top: 13px;
			height: 1px;
			width: 5px;
			background: #dd2222;
			content: "";
		}

		.price-range-wrap .range-slider .price-input input {
			font-size: 16px;
			color: #dd2222;
			font-weight: 700;
			max-width: 20%;
			border: none;
			display: inline-block;
		}

.price-range-wrap .price-range {
	border-radius: 0;
}

	.price-range-wrap .price-range.ui-widget-content {
		border: none;
		background: #ebebeb;
		height: 5px;
	}

		.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
			height: 13px;
			width: 13px;
			border-radius: 50%;
			background: #ffffff;
			border: none;
			-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
			outline: none;
			cursor: pointer;
		}

	.price-range-wrap .price-range .ui-slider-range {
		background: #dd2222;
		border-radius: 0;
	}

		.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
			background: #dd2222;
		}

.sidebar__item__color {
	float: left;
	width: 40%;
}

	.sidebar__item__color.sidebar__item__color--white label:after {
		border: 2px solid #333333;
		background: transparent;
	}

	.sidebar__item__color.sidebar__item__color--gray label:after {
		background: #E9A625;
	}

	.sidebar__item__color.sidebar__item__color--red label:after {
		background: #D62D2D;
	}

	.sidebar__item__color.sidebar__item__color--black label:after {
		background: #252525;
	}

	.sidebar__item__color.sidebar__item__color--blue label:after {
		background: #249BC8;
	}

	.sidebar__item__color.sidebar__item__color--green label:after {
		background: #3CC032;
	}

	.sidebar__item__color label {
		font-size: 16px;
		color: #333333;
		position: relative;
		padding-left: 32px;
		cursor: pointer;
	}

		.sidebar__item__color label input {
			position: absolute;
			visibility: hidden;
		}

		.sidebar__item__color label:after {
			position: absolute;
			left: 0;
			top: 5px;
			height: 14px;
			width: 14px;
			background: #222;
			content: "";
			border-radius: 50%;
		}

.sidebar__item__size {
	display: inline-block;
	margin-right: 16px;
	margin-bottom: 10px;
}

	.sidebar__item__size label {
		font-size: 12px;
		color: #6f6f6f;
		display: inline-block;
		padding: 8px 25px 6px;
		background: #f5f5f5;
		cursor: pointer;
		margin-bottom: 0;
	}

		.sidebar__item__size label input {
			position: absolute;
			visibility: hidden;
		}

/*---------------------
  Shop Grid
-----------------------*/

.product {
	padding-top: 80px;
	padding-bottom: 80px;
}

.product__discount {
	padding-bottom: 50px;
}

.product__discount__title {
	text-align: left;
	margin-bottom: 65px;
}

.product__discount__title h2 {
	display: inline-block;
}

.product__discount__title h2:after {
	margin: 0;
	width: 100%;
}

.product__discount__item:hover .product__discount__item__pic .product__item__pic__hover {
	bottom: 20px;
}

.product__discount__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
}

.product__discount__item__pic .product__discount__percent {
	height: 45px;
	width: 45px;
	background: #dd2222;
	border-radius: 50%;
	font-size: 14px;
	color: #ffffff;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 15px;
	top: 15px;
}

.product__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.product__item__pic__hover li:last-child {
	margin-right: 0;
}

.product__item__pic__hover li:hover a {
	background: #38d39f;
	border-color: #38d39f;
}

.product__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.product__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__discount__item__text {
	text-align: center;
	padding-top: 20px;
}

.product__discount__item__text span {
	font-size: 14px;
	color: #b2b2b2;
	display: block;
	margin-bottom: 4px;
}

.product__discount__item__text h5 {
	margin-bottom: 6px;
}

.product__discount__item__text h5 a {
	color: #1c1c1c;
}

.product__discount__item__text .product__item__price {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
}

.product__discount__item__text .product__item__price span {
	display: inline-block;
	font-weight: 400;
	text-decoration: line-through;
	margin-left: 10px;
}

.product__discount__slider .col-lg-4 {
	max-width: 100%;
}

.product__discount__slider.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 30px;
}

.product__discount__slider.owl-carousel .owl-dots button {
	height: 12px;
	width: 12px;
	border: 1px solid #b2b2b2;
	border-radius: 50%;
	margin-right: 12px;
}

.product__discount__slider.owl-carousel .owl-dots button.active {
	background: #707070;
	border-color: #6f6f6f;
}

.product__discount__slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}

.filter__item {
	padding-top: 45px;
	border-top: 1px solid #ebebeb;
	padding-bottom: 20px;
}

.filter__sort {
	margin-bottom: 15px;
}

.filter__sort span {
	font-size: 16px;
	color: #6f6f6f;
	display: inline-block;
}

.filter__sort .nice-select {
	background-color: #fff;
	border-radius: 0;
	border: none;
	display: inline-block;
	float: none;
	height: 0;
	line-height: 0;
	padding-left: 18px;
	padding-right: 30px;
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 700;
	cursor: pointer;
}

.filter__sort .nice-select span {
	color: #1c1c1c;
}

.filter__sort .nice-select:after {
	border-bottom: 1.5px solid #1c1c1c;
	border-right: 1.5px solid #1c1c1c;
	height: 8px;
	margin-top: 0;
	right: 16px;
	width: 8px;
	top: -5px;
}

.filter__sort .nice-select.open .list {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}

.filter__sort .nice-select .list {
	border-radius: 0;
	margin-top: 0;
	top: 15px;
}

.filter__sort .nice-select .option {
	line-height: 30px;
	min-height: 30px;
}

.filter__found {
	text-align: center;
	margin-bottom: 15px;
}

.filter__found h6 {
	font-size: 16px;
	color: #b2b2b2;
}

.filter__found h6 span {
	color: #1c1c1c;
	font-weight: 700;
	margin-right: 5px;
}

.filter__option {
	text-align: right;
	margin-bottom: 15px;
}

.filter__option span {
	font-size: 24px;
	color: #b2b2b2;
	margin-right: 10px;
	cursor: pointer;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.filter__option span:last-child {
	margin: 0;
}

.filter__option span:hover {
	color: #38d39f;
}

.product__item {
	margin-bottom: 50px;
}

.product__item:hover .product__item__pic .product__item__pic__hover {
	bottom: 20px;
}

.product__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
}

.product__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.product__item__pic__hover li:last-child {
	margin-right: 0;
}

.product__item__pic__hover li:hover a {
	background: #38d39f;
	border-color: #38d39f;
}

.product__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.product__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text {
	text-align: center;
	padding-top: 15px;
}

.product__item__text h6 {
	margin-bottom: 10px;
}

.product__item__text h6 a {
	color: #252525;
}

.product__item__text h5 {
	color: #252525;
	font-weight: 700;
}

.product__pagination,
.blog__pagination {
	padding-top: 10px;
}

.product__pagination a,
.blog__pagination a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	color: #b2b2b2;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	margin-right: 16px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__pagination a:hover,
.blog__pagination a:hover {
	background: #38d39f;
	border-color: #38d39f;
	color: #ffffff;
}

.product__pagination a:last-child,
.blog__pagination a:last-child {
	margin-right: 0;
}

/*---------------------
  Shop Details
-----------------------*/

.product-details {
	padding-top: 80px;
}

.product__details__pic__item {
	margin-bottom: 20px;
}

.product__details__pic__item img {
	min-width: 100%;
}

.product__details__pic__slider img {
	cursor: pointer;
}

.product__details__pic__slider.owl-carousel .owl-item img {
	width: auto;
}

.product__details__text h3 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 16px;
}

.product__details__text .product__details__rating {
	font-size: 14px;
	margin-bottom: 12px;
}

.product__details__text .product__details__rating i {
	margin-right: -2px;
	color: #EDBB0E;
}

.product__details__text .product__details__rating span {
	color: #dd2222;
	margin-left: 4px;
}

.product__details__text .product__details__price {
	font-size: 30px;
	color: #dd2222;
	font-weight: 600;
	margin-bottom: 15px;
}

.product__details__text p {
	margin-bottom: 45px;
}

.product__details__text .primary-btn {
	padding: 16px 28px 14px;
	margin-right: 6px;
	margin-bottom: 5px;
}

.product__details__text .heart-icon {
	display: inline-block;
	font-size: 16px;
	color: #6f6f6f;
	padding: 13px 16px 13px;
	background: #f5f5f5;
}

.product__details__text ul {
	border-top: 1px solid #ebebeb;
	padding-top: 40px;
	margin-top: 50px;
}

.product__details__text ul li {
	font-size: 16px;
	color: #1c1c1c;
	list-style: none;
	line-height: 36px;
}

.product__details__text ul li b {
	font-weight: 700;
	width: 170px;
	display: inline-block;
}

.product__details__text ul li span samp {
	color: #dd2222;
}

.product__details__text ul li .share {
	display: inline-block;
}

.product__details__text ul li .share a {
	display: inline-block;
	font-size: 15px;
	color: #1c1c1c;
	margin-right: 25px;
}

.product__details__text ul li .share a:last-child {
	margin-right: 0;
}

.product__details__quantity {
	display: inline-block;
	margin-right: 6px;
}

.pro-qty {
	width: 140px;
	height: 50px;
	display: inline-block;
	position: relative;
	text-align: center;
	background: #f5f5f5;
	margin-bottom: 5px;
}

.pro-qty input {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: #6f6f6f;
	width: 50px;
	border: none;
	background: #f5f5f5;
	text-align: center;
}

.pro-qty .qtybtn {
	width: 35px;
	font-size: 16px;
	color: #6f6f6f;
	cursor: pointer;
	display: inline-block;
}

.product__details__tab {
	padding-top: 85px;
}

.product__details__tab .nav-tabs {
	border-bottom: none;
	justify-content: center;
	position: relative;
}

.product__details__tab .nav-tabs:before {
	position: absolute;
	left: 0;
	top: 12px;
	height: 1px;
	width: 370px;
	background: #ebebeb;
	content: "";
}

.product__details__tab .nav-tabs:after {
	position: absolute;
	right: 0;
	top: 12px;
	height: 1px;
	width: 370px;
	background: #ebebeb;
	content: "";
}

.product__details__tab .nav-tabs li {
	margin-bottom: 0;
	margin-right: 65px;
}

.product__details__tab .nav-tabs li:last-child {
	margin-right: 0;
}

.product__details__tab .nav-tabs li a {
	font-size: 16px;
	color: #999999;
	font-weight: 700;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
}

.product__details__tab .product__details__tab__desc {
	padding-top: 44px;
}

.product__details__tab .product__details__tab__desc h6 {
	font-weight: 700;
	color: #333333;
	margin-bottom: 26px;
}

.product__details__tab .product__details__tab__desc p {
	color: #666666;
}

/*---------------------
  Shop Details
-----------------------*/

.related-product {
	padding-bottom: 30px;
}

.related__product__title {
	margin-bottom: 70px;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}

.footer__widget p {
	font-size: 14px;
	color: #1c1c1c;
	margin-bottom: 30px;
}

.footer__widget div {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget div input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: #1c1c1c;
	height: 46px;
	border: 1px solid #ededed;
}

.footer__widget div input::placeholder {
	color: #1c1c1c;
}

.footer__widget div button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #404040;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #38d39f;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	float: left;
	line-height: 25px;
}

.footer__copyright__payment {
	float: right;
}

@media only screen and (min-width: 1280px) {
	.container {
		max-width: 1240px !important;
	}
}

@media only screen and (min-width: 1800px) {
	.container {
		max-width: 1620px !important;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu ul li {
		margin-right: 45px;
	}
	.hero__search__form {
		width: 490px;
	}
	.hero__categories__all {
		padding: 10px 25px 10px 20px;
	}
	.hero__categories ul {
		padding-left: 20px;
	}
	.latest-product__slider.owl-carousel .owl-nav {
		right: 0;
	}
	.product__details__tab .nav-tabs:before {
		width: 265px;
	}
	.product__details__tab .nav-tabs:after {
		width: 265px;
	}
	.shoping__discount form input {
		width: 240px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero__categories {
		margin-bottom: 30px;
	}
	.hero__search__form {
		width: 485px;
	}
	.categories__slider.owl-carousel .owl-nav button {
		left: -20px;
	}
	.categories__slider.owl-carousel .owl-nav button.owl-next {
		right: -20px;
	}
	.filter__sort .nice-select {
		padding-left: 5px;
		padding-right: 28px;
	}
	.product__details__quantity {
		margin-bottom: 10px;
	}
	.product__details__text .primary-btn {
		margin-bottom: 10px;
	}
	.product__details__tab .nav-tabs:before {
		width: 150px;
	}
	.product__details__tab .nav-tabs:after {
		width: 150px;
	}
	.blog__details__author {
		overflow: hidden;
		margin-bottom: 25px;
	}

	.header .container {
		position: relative;
	}

	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/*#region login.css*/
@media (max-width: 991.98px) {
	.content .bg {
		height: 500px;
	}
}

.content .contents, .content .bg {
	width: 50%;
}

@media (max-width: 1199.98px) {
	.content .contents, .content .bg {
		width: 100%;
	}
}

.content .contents .form-group, .content .bg .form-group {
	position: relative;
}

	.content .contents .form-group label, .content .bg .form-group label {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
	}

	.content .contents .form-group input, .content .bg .form-group input {
		background: transparent;
		border-bottom: 1px solid #ccc;
	}

	.content .contents .form-group.first, .content .bg .form-group.first {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}

	.content .contents .form-group.last, .content .bg .form-group.last {
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
	}

	.content .contents .form-group label, .content .bg .form-group label {
		margin-top: -10px;
		font-size: 12px;
		display: block;
		margin-bottom: 0;
		color: #b3b3b3;
	}

	.content .contents .form-group.focus, .content .bg .form-group.focus {
		background: #fff;
	}

	.content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
		margin-top: -35px;
	}

.content .contents .form-control, .content .bg .form-control {
	border: none;
	padding: 0;
	font-size: 20px;
	border-radius: 0;
}

	.content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.content .bg {
	background-size: cover;
	background-position: center;
}

.content a {
	color: #888;
	text-decoration: underline;
}

.content .btn {
	height: 54px;
	padding-left: 30px;
	padding-right: 30px;
}

.content .forgot-pass {
	position: relative;
	top: 2px;
	font-size: 14px;
}

.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px;
}

	.control .caption {
		position: relative;
		top: .2rem;
		color: #888;
	}

	.control input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
	border-radius: 4px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

.control input:checked ~ .control__indicator {
	background: #38d39f;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #4dd8a9;
}

.control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.9;
	pointer-events: none;
}

.control__indicator:after {
	font-family: 'icomoon';
	content: '\e5ca';
	position: absolute;
	display: none;
	font-size: 16px;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.control input:checked ~ .control__indicator:after {
	display: block;
	color: #fff;
}

.control--checkbox .control__indicator:after {
	top: 50%;
	left: 50%;
	margin-top: -1px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
	background-color: #7e0cf5;
	opacity: .2;
}

.ml-auto {
	margin-left: auto !important;
}

div.form-group.first {
	margin-bottom: 1rem;
}

input[type="submit"].btn-block {
	width: 100%;
	background-color: #38d39f;
	border-color: #38d39f;
}

	input[type="submit"].btn-block:hover {
		background-color: #29bb8a;
		border-color: #27b183;
	}

.btn:hover {
	text-decoration: none;
}

.alt-url {
	margin-top: 10px;
}
/*#endregion*/

/*#region vendor.bundle.base.css*/
.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
}

.ps__rail-x {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	height: 15px;
	bottom: 0px;
	position: absolute;
}

.ps__rail-y {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	width: 15px;
	right: 0;
	position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
	display: block;
	background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
	opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
	background-color: #eee;
	opacity: 0.9;
}

.ps__thumb-x {
	background-color: #aaa;
	border-radius: 6px;
	transition: background-color .2s linear, height .2s ease-in-out;
	-webkit-transition: background-color .2s linear, height .2s ease-in-out;
	height: 6px;
	bottom: 2px;
	position: absolute;
}

.ps__thumb-y {
	background-color: #aaa;
	border-radius: 6px;
	transition: background-color .2s linear, width .2s ease-in-out;
	-webkit-transition: background-color .2s linear, width .2s ease-in-out;
	width: 6px;
	right: 2px;
	position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
	background-color: #999;
	height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
	background-color: #999;
	width: 11px;
}

@supports (-ms-overflow-style: none) {
	.ps {
		overflow: auto !important;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.ps {
		overflow: auto !important;
	}
}
/*#endregion*/

/*#region account */
.card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem;
}

.card-title {
	margin-bottom: 0.5rem;
}

.card-title-border {
	padding: 1.125rem 0;
}

.card-title-strong {
	color: #333;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
	margin: 0;
	text-transform: capitalize;
}

.card-title-description {
	color: #787878;
	margin-bottom: 0;
	font-size: 0.875rem;
	font-weight: 500;
	margin-top: 5px;
}

.card-content {
	border-top: 0.0625rem solid #efefef;
	padding-top: 20px;
}


.centered {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 30px;
}

	.centered * {
		margin: 15px 0;
	}

	.centered .profileImg {
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

.accountForm {
	width: 1200px;
}

.max-width {
	width: 100% !important;
}

.center-form {
	justify-content: center; /* Horizontally center-align child elements */
	align-items: center; /* Vertically center-align child elements */
	display: block ruby;
	padding: 1.5rem 2.5rem 1.5rem 20% !important;
}

.order-information {
	display: flex; /* Use flexbox */
}

.order-item {
	border-top: 0.0625rem solid #efefef;
	margin-top: 15px;
	padding-top: 15px;
	display: flex; /* Use flexbox */
	align-items: center; /* Center items vertically */
}

.order-item-result {
	border-top: 0.0625rem solid #efefef;
	margin-top: 15px;
	padding-top: 15px;
}

.itemImg {
	flex: 0 0 auto; /* Don't allow shrinking or growing */
	margin-right: 10px; /* Add margin for spacing */
}

.itemContent {
	flex: 1; /* Allow growing */
	display: flex;
	justify-content: space-between;
}

.itemDetails {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 5px;
}

.itemTitle,
.itemDescription,
.itemCategory,
.itemQuantity {
	margin-bottom: 5px;
}

.totalItemsPrice {
	margin-left: auto;
}

.purchaseItem {
	max-width: 100%; /* Ensure image doesn't exceed container width */
}

.StatusName {
	flex: 1; /* Take up available space */
}

.StatusDescription {
	flex: 1; /* Take up available space */
	text-align: right; /* Align text to the right */
}

.order-item-result {
	display: flex;
	justify-content: flex-end; /* Align items to the right */
}

.orderTotalText,
.orderTotalValue {
	margin-left: 10px; /* Add spacing between the elements if needed */
}

.order-item-action {
	display: flex;
	justify-content: flex-end; /* Align items to the right */
	margin: 15px;
}

.btn-primary-green {
	background-color: #38d39f;
}

	.btn-primary-green:hover {
		background-color: #31ad84;
	}


.nav-link-active {
	color: #000000 !important;
}
/*#endregion*/